    body{
    background-color: #ffccff;
    color: #590099;
    }

    header{
        background-color: #990099;
        width: 100%;
        height: 200px;
    }

    footer{
       background-color: #ff33ff;
        width: 100%;
        height: 200px;
    }  

</style>
